<div class="container">
	<div class="row">
	<% @users.each do |u| %>
		<div class="col-lg-4">
			<div class="vocalist" style="background-image:url('<%= u.avatar.url %>')">
				<%= link_to "#{u.firstname} #{u.lastname}", profile_path(id: u.id) %>
			</div>
		</div>
	<% end %>
	</div>
</div>